/* CarouselComponent.css */

/* Custom styles for the carousel */
.carousel-root {
  max-width: 800px; /* Adjust the maximum width as needed */
  margin: 0 auto;
}

/* Styling for the carousel slides */
.carousel .slide {
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 18px;
  overflow: hidden;
  
}

/* Legend style for slide captions */
.carousel .legend {
  color: #333;
  font-size: 18px;
  margin-top: 10px;
}

/* Styling for carousel indicators */
.carousel .thumbs-wrapper {
  margin-top: 20px;
}
/* .carousel .thumb {
  border: 2px solid #888;
  border-radius: 25%;
  width: 8px;
  height: 30px;
  margin: 0 10px;
  cursor: pointer;
  margin-left: 90px;
 
} */
.carousel .thumb.selected,
.carousel .thumb:hover {
  background-color: #888;
}
